@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Slab", serif;
  margin: 0px;
  padding: 0px;
}

*::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

*::-webkit-scrollbar-track {
  background: #333;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 0px;
  border: 1px solid #333;
}

.loader:before {
  content: "";
  background: #0c0c0caf;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loader:after {
  content: url("./assets/react.svg");
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  @apply animate-bounce;
}

.form_btn {
  @apply px-2 flex py-3 w-full text-sm  flex-row justify-center items-center content-center hover:bg-primary bg-slate-600 text-white shadow-sm;
}

.btn-pagination {
  @apply px-2 flex py-3  text-sm disabled:bg-slate-300  flex-row border border-white w-full max-w-xs justify-center font-bold items-center content-center hover:bg-primary bg-slate-600 text-white shadow-sm;
}
